<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"><title>ログイン</title></head>
<body>
<h2>ログイン</h2>
<form th:action="@{/login}" method="post">
<p>ユーザー名: <input type="text" name="username"/></p>
<p>パスワード: <input type="password" name="password"/></p>
<p>役割: <label><input type="radio" name="role" value="normaluser" checked> </label>
<button type="submit">ログイン</button>
</form>
<p th:if="${error}" th:text="${error}" style="color:red;"></p>
<p>アカウントをお持ちでない方は <a th:href="@{/signup}">新規登録</a> へ</p>

</body>
</html>