<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>販売実績詳細</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-4">
    <h1>販売実績詳細</h1>
    <table class="table">
        <tr><th>ビール名</th><td th:text="${salesRecord.beer.name}"></td></tr>
        <tr><th>日付</th><td th:text="${#temporals.format(salesRecord.date, 'yyyy-MM-dd')}"></td></tr>
        <tr><th>本数</th><td th:text="${salesRecord.quantity}"></td></tr>
        <tr><th>担当者ID</th><td th:text="${salesRecord.createdBy}"></td></tr>
    </table>
    <a th:href="@{/sales-records/{id}/edit(id=${salesRecord.id})}" class="btn btn-warning">編集</a>
    <a href="/sales-records" class="btn btn-secondary">カレンダーに戻る</a>
</div>
</body>
</html>